# To modify listener options, create
# /etc/systemd/system/2ping.service.d/local.conf
# with options to override, for example:
#
# [Service]
# ExecStart=
# ExecStart=/usr/bin/2ping --listen --quiet -I 127.0.0.1

[Unit]
Description=2ping daemon
Documentation=man:2ping(1)
Documentation=https://www.finnie.org/software/2ping/

[Service]
User=nobody
ExecStart=/usr/bin/2ping --listen --quiet
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
